.card
  .card-header Business
  .card-body
    .row
      .col-md-1
        = image_tag business.logo, class: 'img img-thumbnail'
      .col-md-5
        .card
          .card-header= business.name
          .card-body
            .card-text.text-muted #{business.size_string} size
            .card-text= business.description
      - if business.city
        .col-md-6
          .card
            .card-header Where
            .card-body
              %p.card-text= business.city
              %iframe.googlemap{ src: "https://www.google.com/maps/embed/v1/place?q=#{business.city}&key=AIzaSyCdi-CnUO45jF37i_xlG1zmDDQg2v4L0Xg", width: '100%', height: '100%', frameborder: '0' }
