.card.full-card-link
  %a{ href: application_path(application) }
  .card-body
    .row
      .col-auto.mr-2
        - if applicant_signed_in?
          = image_tag 'shards.svg', class: 'img img-thumbnail', style: 'height: 100%'
      .col-md-4.flex-col
        - if applicant_signed_in?
          %p.my-0= application.job.title
          %p.my-0= application.job.business.name
          %p.my-0= application.job.created_at.strftime('%d/%m/%Y')
        - else
          %p.my-0= application.applicant.name
          %p.my-0= application.job.position
          %p.my-0= application.job.created_at.strftime('%d/%m/%Y')
      .col-md-4
        %p Application Stage: #{application.aasm_state}
