- if application.screening? && !application.rejected?
  .card.my-4
    .card-header
      Screening
    .card-body
      %p Please wait for the business to screen your application.
- if application.interview? && !application.rejected?
  .card.my-4
    .card-header
      Interview
    .card-body
      %p= application.interview_message
- if application.offer?
  - if application.rejected?
    .card.my-4
      .card-header
        Offer
      .card-body
        = application.offer
        %hr
        You have rejected this offer.
  - else
    .card.my-4
      .card-header
        Offer
      .card-body
        = application.offer
      - if application.offer
        .card-footer
          = link_to 'Accept Offer', accept_application_path, method: :patch, class: 'btn btn-success'
          = link_to 'Reject Offer', reject_application_path, method: :patch, class: 'btn btn-danger'
- if application.accepted?
  .card
    .card-header
      Offer
    .card-body
      = application.offer
      %hr
      You've been accepted for this position.
- if application.personal? || application.personaled?
  .card.my-4
    .card-header
      Personal Information
    .card-body
      = render application.applicant
    - if application.personal?
      .card-footer
        = link_to 'Confirm Details', confirm_application_path, method: :patch, class: 'btn btn-primary'
- if application.cover? || application.covered?
  .card.my-4
    .card-header
      Cover Letter
    .card-body
      - if application.cover?
        - if application.job.questions
          #{application.job.business.name} suggests you answer the following questions:
          %p= application.job.questions
          = simple_form_for application do |f|
            = f.error_notification
            = f.input :cover_letter, label: false
            = f.button :submit, 'Save'
            = f.button :submit, 'Submit', class: 'btn-primary'
      - else
        %p= application.cover_letter
