.card.m-3.full-card-link
  %a{ href: application_path(application) }
  .card-body
    .row
      .col-auto.mr-2
        - if applicant_signed_in?
          = image_tag application.job.business.logo, style: 'width: 100%' if application.job.business.logo.attached?
      .col-md-10.flex-col
        - if applicant_signed_in?
          %p.my-0= application.job.title
          %p.my-0= application.job.business.name
          %p.my-0= application.job.created_at.strftime('%d/%m/%Y')
        - else
          %p.my-0= application.applicant.name
          %p.my-0= application.job.position
          %p.my-0= application.job.created_at.strftime('%d/%m/%Y')
