- if application.screening? && !application.rejected?
  .card.my-4
    .card-header
      Screening
    .card-body
      = simple_form_for application, url: application_path do |f|
        = f.error_notification
        = f.input :interview_message
        = f.button :submit, 'Send', class: 'btn btn-success'
        = link_to 'Reject', reject_application_path, method: :patch, class: 'btn btn-danger'
- if application.interview? && !application.rejected?
  .card.my-4
    .card-header
      Interview
    .card-body
      = application.interview_message
    .card-footer
      = link_to 'Proceed', accept_application_path, method: :patch, class: 'btn btn-success'
      = link_to 'Reject', reject_application_path, method: :patch, class: 'btn btn-danger'
- if application.offer?
  - if application.rejected?
    .card.my-4
      .card-header
        Offer
      .card-body
        %p= application.offer
        %p #{application.applicant.name} has rejected this offer.
  - else
    .card.my-4
      .card-header
        Offer
      .card-body
        - if application.offer
          = application.offer
        - else
          = simple_form_for application, url: application_path do |f|
            = f.error_notification
            = f.input :offer
            = f.button :submit, 'Send', class: 'btn btn-success'
- if application.accepted?
  .card.my-4
    .card-header
      Offer
    .card-body
      %p You have accepted #{application.applicant.name} for this position.
- if application.personaled?
  .card.my-4
    .card-header
      Applicant Information
    .card-body
      = render application.applicant
- if application.covered?
  .card.my-4
    .card-header
      Cover Letter
    .card-body
      %p= application.cover_letter
