- if application.screening? && !application.rejected?
  .card.my-4
    .card-header.bg-dark.text-white
      Screening
    .card-body
      %p Please review #{application.applicant.name}'s application. If you would like to advance the application to interview stage, add any additional information below regarding the interview before doing so.
      = simple_form_for application, url: application_path do |f|
        = f.error_notification
        = f.input :interview_message
        = f.button :submit, 'Advance Application to Interview', class: 'btn btn-success'
        = link_to 'Reject', reject_application_path, method: :patch, class: 'btn btn-danger'
- if application.interview? && !application.rejected?
  .card.my-4
    .card-header.bg-dark.text-white
      Interview
    .card-body
      = application.interview_message
    .card-footer
      = link_to 'Accept Application after Interview', accept_application_path, method: :patch, class: 'btn btn-success'
      = link_to 'Reject Application after Interview', reject_application_path, method: :patch, class: 'btn btn-danger'
- if application.offer?
  - if application.rejected?
    .card.my-4
      .card-header.bg-dark.text-white
        Offer
      .card-body
        %p= application.offer
        %p #{application.applicant.name} has rejected this offer.
  - else
    .card.my-4
      .card-header.bg-dark.text-white
        Offer
      .card-body
        - if application.offer
          %p You have offered #{application.applicant.name}:
          = application.offer
        - else
          %p Please enter a summary of the offer you would like to send to #{application.applicant.name}:
          = simple_form_for application, url: application_path do |f|
            = f.error_notification
            = f.input :offer, label: false
            = f.button :submit, 'Send', class: 'btn btn-success'
- if application.accepted?
  .card.my-4
    .card-header.bg-dark.text-white
      Offer
    .card-body
      %p You have accepted #{application.applicant.name} for this position and #{application.applicant.name} has accepted your offer.
      %strong Please send them a formal offer to their listed email address:
      %p= application.applicant.email
- if application.covered?
  .card.my-4
    .card-header.bg-dark.text-white
      Cover Letter
    .card-body
      %p= application.cover_letter
- if application.personaled?
  .card.my-4
    .card-header.bg-dark.text-white
      Applicant Information
    .card-body
      = render application.applicant
- if application.personal?
  .card.my-4
    .card-header.bg-dark.text-white
      Applicant Information
    .card-body
      %p #{application.applicant.name} has applied for this position! Please wait for them to provide you with more details.
