.steps-form-2.my-5
  .steps-row-2.setup-panel-2.d-flex.justify-content-between
    .steps-step-2
      %span.btn.step-2.ml-0{ class: personal_color(application) }
        = icon 'fas', 'user-circle', class: 'fa-3x'
    .steps-step-2
      %span.btn.step-2.ml-0{ class: cover_color(application) }
        = icon 'fas', 'edit', class: 'fa-3x'
    .steps-step-2
      %span.btn.step-2.ml-0{ class: screening_color(application) }
        = icon 'fas', 'clock', class: 'fa-3x'
    -#
      .steps-step-2
      %a.btn.step-2
      = icon 'fas', 'file-alt', class: 'fa-3x'
    .steps-step-2
      %span.btn.step-2{ class: interview_color(application) }
        = icon 'fas', 'building', class: 'fa-3x'
    .steps-step-2
      %span.btn.step-2.mr-0{ class: accepted_color(application) }
        = icon 'fas', 'handshake', class: 'fa-3x'
