%h2.mb-4 #{@application.applicant.name} applying for #{link_to @application.job.title, @application.job} (#{@application.aasm_state} stage)
- if applicant_signed_in?
  = render @application.job
- else
  = render @application
= render 'circles'

- if applicant_signed_in?
  = render partial: 'applications/applicant_stages', locals: { application: @application }
- if business_signed_in?
  = render partial: 'applications/business_stages', locals: { application: @application }
