%h2 Application view (#{@application.aasm_state})
= render @application.job
%p #{@application.applicant.name} applying for #{link_to @application.job.title, @application.job}
- if applicant_signed_in?
  - if @application.personal?
    .card
      .card-header
        Stage: #{@application.aasm_state}
      .card-body
        = render @application.applicant
      .card-footer
        = link_to 'Confirm Details', confirm_application_path, method: :patch, class: 'btn btn-primary'
  - elsif @application.cover?
    = simple_form_for @application do |f|
      = f.error_notification
      = f.input :cover_letter
      = f.button :submit, 'Save'
      = f.button :submit, 'Submit', class: 'btn-primary'
- if business_signed_in?
  - if @application.interview?
    = link_to 'Accept', accept_application_path, method: :patch, class: 'btn btn-success'
    = link_to 'Reject', reject_application_path, method: :patch, class: 'btn btn-danger'
