%h2.mb-4 #{@application.applicant.name} applying for #{link_to @application.job.title, @application.job} (#{@application.aasm_state} stage)
= render @application.job
= render 'circles'

- if applicant_signed_in?
  - if @application.personal? || @application.personaled?
    .card.my-4
      .card-header
        Personal Information
      .card-body
        = render @application.applicant
      .card-footer
        = link_to 'Confirm Details', confirm_application_path, method: :patch, class: 'btn btn-primary' if @application.personal?
  - if @application.cover? || @application.covered?
    .card.my-4
      .card-header
        Cover Letter
      .card-body
        - if @application.cover?
          = simple_form_for @application do |f|
            = f.error_notification
            = f.input :cover_letter
            = f.button :submit, 'Save'
            = f.button :submit, 'Submit', class: 'btn-primary'
        - else
          %p= @application.cover_letter
      .card-footer
  - if @application.screening? && !@application.rejected?
    .card.my-4
      .card-header
        Screening
      .card-body
        %p Please wait for the business to screen your application.
      .card-footer
  - if @application.interview? && !@application.rejected?
    .card.my-4
      .card-header
        Interview
      .card-body
        %p Interview placeholder
      .card-footer
  - if @application.offer? && !@application.rejected?
    .card.my-4
      .card-header
        Offer
      .card-body
        %p= @application.offer
      .card-footer
        = link_to 'Accept Offer', accept_application_path, method: :patch, class: 'btn btn-success' if @application.offer
        = link_to 'Reject Offer', reject_application_path, method: :patch, class: 'btn btn-danger' if @application.offer
  - if @application.accepted?
    .card
      .card-header
        Offer
      .card-body
        %p You've been accepted for this position.
      .card-footer
- if business_signed_in?
  - if @application.personaled?
    .card.my-4
      .card-header
        Applicant Information
      .card-body
        = render @application.applicant
  - if @application.covered?
    .card.my-4
      .card-header
        Cover Letter
      .card-body
        %p= @application.cover_letter
      .card-footer
  - if @application.screening? && !@application.rejected?
    .card.my-4
      .card-header
        Screening
      .card-body
        = link_to 'Accept', accept_application_path, method: :patch, class: 'btn btn-success'
        = link_to 'Reject', reject_application_path, method: :patch, class: 'btn btn-danger'
  - if @application.interview? && !@application.rejected?
    .card.my-4
      .card-header
        Interview
      .card-body
        Interview placeholder
      .card-footer
        = link_to 'Accept', accept_application_path, method: :patch, class: 'btn btn-success'
        = link_to 'Reject', reject_application_path, method: :patch, class: 'btn btn-danger'
  - if @application.offer? && !@application.rejected?
    .card.my-4
      .card-header
        Submit an Offer
      .card-body
        = simple_form_for @application, url: application_path do |f|
          = f.error_notification
          = f.input :offer
          = f.button :submit, 'Send Offer'
      .card-footer
  - if @application.accepted?
    .card.my-4
      .card-header
        Offer
      .card-body
        %p You have accepted #{@application.applicant.name} for this position.
      .card-footer
