%h5 Basic Information
.card
  .card-body
    %table.card-text
      %tr
        %th Name:
        %td= applicant.name
      %tr
        %th Email:
        %td= applicant.email
  - if params[:controller] == 'applicants'
    .card-footer
      = link_to 'Edit', edit_applicant_path, class: 'btn btn-warning btn-sm'
%hr
= render partial: 'educations/educations', locals: { educations: applicant.educations }
%hr
= render partial: 'experiences/experiences', locals: { experiences: applicant.experiences }
%hr
= render partial: 'achievements/achievements', locals: { achievements: applicant.achievements }
