%table
  %tr
    %th Name:
    %td= applicant.name
  %tr
    %th Email:
    %td= applicant.email
%hr
= render partial: 'educations/educations', locals: { educations: applicant.educations }
%hr
= render partial: 'experiences/experiences', locals: { experiences: applicant.experiences }
%hr
= render partial: 'achievements/achievements', locals: { achievements: applicant.achievements }
