= simple_form_for @job, url: @job.new_record? ? jobs_path : job_path do |f|
  = f.error_notification
  = f.input :position
  = f.input :description
  = f.input :test, label: 'Link to Test (optional)'
  = f.input :salary, input_html: { min: '0', step: '500' }, label: 'Annual Salary'
  = f.input :start_date, html5: true, include_blank: true
  = f.input :end_date, html5: true, include_blank: true
  = f.input :deadline, html5: true, include_blank: true
  = f.input :questions, label: 'Questions for cover letter'
  = f.button :submit, class: 'btn btn-success'
