.card
  .card-header.bg-dark.text-white Job
  .card-body
    %h5.card-title #{job.position} at #{job.business.name}
    %table.card-text
      %tr
        %th Position:
        %td= job.position
      %tr
        %th Description:
        %td= job.description
      %tr
        %th Application Deadline:
        - if job.deadline
          %td
            = job.deadline
            - if job.deadline.future?
              (#{distance_of_time_in_words_to_now job.deadline})
        - else
          %td Not specified
