%h1 Editing job

= simple_form_for @job, url: job_path(@job) do |f|
  = f.error_notification
  = f.input :position
  = f.input :description
  = f.button :submit

= link_to 'Show', @job
\|
= link_to 'Back', jobs_path
