%h1 Job Listings

.row.my-4
  .col-md-3
    - if business_signed_in?
      = link_to 'Post New Job', new_job_path, class: 'btn btn-info mb-4 btn-block'
    .card.bg-dark.text-light
      .card-header Your Filters
      .card-body
        = smart_listing_controls_for :jobs do
          = label_tag :position, 'Position'
          = text_field_tag :position, '', placeholder: 'Frontend Developer', class: 'form-control', autocomplete: :off
          = label_tag :salary, 'Minimum Salary'
          = number_field_tag :salary, nil, in: 0..50_000, step: 1_000, placeholder: 20_000, class: 'form-control'
          = label_tag :starting, 'Starting After'
          = date_field_tag :starting, '', class: 'form-control'
          = label_tag :ending, 'Ending Before'
          = date_field_tag :ending, '', class: 'form-control'
          %button.btn.btn-info.btn-block.mt-2{ type: 'submit' } Search
  .col-md-9
    .card.bg-dark
      = smart_listing_render :jobs
