%h1 Job Listings

.row.my-4
  .col-md-3
    .card
      .card-header
        Your Filters
      .card-body
        .card.mb-4
          .card-header
            City
          .card-body
            London
        .card.my-4
          .card-header
            Job Title
          .card-body
            Programmer
        .card.mt-4
          .card-header
            Company Size
          .card-body
            Medium
  .col-md-9
    .card
      - @jobs.each do |job|
        .card
          .card-body
            .row
              .col-auto.mr-2
                = image_tag 'shards.svg', class: 'img', style: 'height: 100%'
              .col-md-8.flex-col
                %p.my-0= job.position
                %p.my-0= job.business.name
                %p.my-0= job.created_at.strftime('%d/%m/%Y')
              .col-md-2
                %a.btn.btn-primary{ href: job_path(job) } View


%br
- if business_signed_in?
  = link_to 'New Job', new_job_path
