.row
  .col-md-3
    .card
      = image_tag 'shards.svg', class: 'img img-thumbnail', style: 'height: 222px'
  .col-md-9
    .card
      .card-header
        #{@job.position} at #{@job.business.name}
      .card-body
        .row
          .col-md-6
            %h5 Job Information
            %table
              %tr
                %th Position:
                %td= @job.position
              %tr
                %th Description:
                %td= @job.description
          .col-md-6
            %h5 Business Information
            %table
              %tr
                %th Business:
                %td= @job.business.name
              %tr
                %th City:
                %td= @job.business.city
              %tr
                %th Description:
                %td= @job.business.description

- unless business_signed_in?
  = link_to 'Apply', apply_job_path, method: :post, class: 'btn btn-primary'
- if business_job? @job
  = link_to 'Edit', edit_job_path(@job)
  \|
= link_to 'Back', jobs_path

- if business_job? @job
  %h4 Applicants
  %ul
  - @job.applications.each do |application|
    %li= link_to application.applicant.name, application
