%h1 Listing jobs

%table
  %thead
    %tr
      %th Position
      %th Posted
      %th
      %th
      %th

  %tbody
    - @jobs.each do |job|
      %tr
        %td= job.position
        %td= job.created_at
        %td= link_to 'Show', business_job_path(job)
        %td= link_to 'Edit', edit_business_job_path(job)
        %td= link_to 'Destroy', business_job_path(job), method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Job', new_business_job_path
