#header
  .row.p-5
    .col-md-6.p-5
      %h1 Recruitment, simplified.
      %p.lead.font-weight-normal Our mission is to connect new startups with candidates looking for internships at places where they can make a difference and to simplify the application process for both sides.
      .btn-toolbar
        %a.btn.mr-3.mt-2#sign-up-button{ href: new_business_registration_path } Hire
        %a.btn.ml-3.mt-2#sign-in-button{ href: new_applicant_registration_path } Apply
    .col-md-6.p-5.text-center
      = image_tag 'Graphic.png'
.separator.bg-light.text-center.p-5
  %h2.mb-5 How can HireFlow help you?
  %nav.nav.nav-pills.nav-justified
    %a.nav-item.nav-link.active{ href: '#features-business', 'data-target': '#features-business', 'data-toggle': 'tab' } I'm a Recruiter
    %a.nav-item.nav-link{ href: '#features-applicant', 'data-target': '#features-applicant', 'data-toggle': 'tab' } I'm an Applicant

.tab-content#features
  .tab-pane.fade.show.active#features-business
    .row
      .col-md-6.p-5
        %h3 Personalise Your Startup's Application Process
        %p.lead We built this application working closely with startups just like yours to make sure that HireFlow's advanced platform gives you enough customisation options to make your application process perfect. From cover letter to interview, we've got you covered.
      .col-md-6.pl-0
        = image_tag 'bg-showcase-1.jpg', style: 'width: 100%'
    .row.text-white.bg-dark
      .col-md-6.p-0
        = image_tag 'bg-showcase-3.jpg', style: 'width: 100%'
      .col-md-6.p-5
        %h3 Stay Organised
        %p.lead Ever had an inbox full of messy email chains or files scattered around your computer containing important information on applicants? HireFlow was built to help with that, with numerous features designed to clearly indicate the stages of each application and help you manage each stage solely within the platform.
    .row
      .col-md-6.p-5
        %h3 Access an Exciting Network
        %p.lead Applicants for the positions you list on HireFlow are specifically interested in working for startups just like yours. We're working with universities to make sure that your businesses are able to work with students and graduates that love what you do.
      .col-md-6.pl-0
        = image_tag 'bg-showcase-2.jpg', style: 'width: 100%'
  .tab-pane.fade#features-applicant
    .row
      .col-md-6.p-5
        %h3 Centralise your Application Management
        %p.lead Tired of many different email chains and different web portals to manage your internship applications? HireFlow solves that problem by keeping it all in one place for you.
      .col-md-6.p-0
        = image_tag 'bg-showcase-1.jpg', style: 'width: 100%'
    .row.text-white.bg-dark
      .col-md-6.pl-0
        = image_tag 'bg-showcase-3.jpg', style: 'width: 100%'
      .col-md-6.p-5
        %h3 Improve Efficiency
        %p.lead Tired of entering information like your work experience and grades tens of times over? Worry no more! HireFlow allows you to enter your credentials once and reuse them for each application.
    .row
      .col-md-6.p-5
        %h3 Find your Dream Startup
        %p.lead Startups use HireFlow to find applicants just like you. If you have a passion for making a difference in a business that will greatly benefit from having someone like you on board, then look no further than HireFlow.
      .col-md-6.pl-0
        = image_tag 'bg-showcase-2.jpg', style: 'width: 100%'

.text-center.bg-dark#steps
  %h2.pt-5.text-white 3 Easy Steps!
  .steps-form-2.mt-5
    .steps-row-2.setup-panel-2.d-flex.justify-content-between.mx-5
      .steps-step-2
        %span.btn.step-2.ml-0
          = icon 'fas', 'user-circle', class: 'fa-3x'
        .card.m-5
          .card-body
            .card-title Sign Up
            .card-text TODO
      .steps-step-2
        %span.btn.step-2.ml-0
          = icon 'fas', 'edit', class: 'fa-3x'
        .card.m-5
          .card-body
            .card-title Search
            .card-text TODO
      .steps-step-2
        %span.btn.step-2.ml-0
          = icon 'fas', 'clock', class: 'fa-3x'
        .card.m-5
          .card-body
            .card-title Apply
            .card-text TODO
= render partial: 'welcome/testimonials'

%footer.footer
  %p Template
  %a{ href: '#' } Back to top
