%h1 New experience

= simple_form_for @experience, url: applicant_profile_experiences_path do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    = f.input :place
    = f.input :title
    = f.input :description
    = f.input :start_date
    = f.input :end_date

  .form-actions
    = f.button :submit

= link_to 'Back', edit_applicant_profile_path
