%h1 New subject

= simple_form_for @subject, url: applicant_profile_education_subjects_path do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    = f.input :title
    = f.input :result

  .form-actions
    = f.button :submit

= link_to 'Back', edit_applicant_profile_education_path(@education)
