%h1 Editing achievement

= simple_form_for @achievement, url: applicant_profile_achievement_path do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    = f.input :title
    = f.input :description
    = f.input :date, html5: true

  .form-actions
    = f.button :submit

= link_to 'Back', edit_applicant_profile_path
