.card.my-4
  .card-body
    %h5.card-title= education.place
    .card-text
      .start_date= education.start_date
      .end_date= education.end_date
    .list-group.list-group-flush
      = render partial: 'subjects/subject', collection: education.subjects, locals: { education: education }
  - if params[:controller] == 'applicants'
    .card-footer
      = link_to 'Edit', edit_applicant_profile_education_path(education), class: 'btn btn-warning'
      = link_to 'Delete', applicant_profile_education_path(education), method: :delete, class: 'btn btn-danger'
