.card.my-2
  .card-body
    %p.card-title.font-weight-bold.my-0= education.place
    %p.card-title.my-0= education.level
    %p.text-muted #{education.start_date.strftime('%b %Y')} &ndash; #{education.end_date.strftime('%b %Y')} &bullet; for #{distance_of_time_in_words education.start_date, education.end_date}
    .list-group.list-group-flush
      = render partial: 'subjects/subject', collection: education.subjects, locals: { education: education }
  - if params[:controller] == 'applicants'
    .card-footer
      = link_to 'Add', new_applicant_profile_education_subject_path(education), class: 'btn btn-info btn-sm'
      = link_to 'Edit', edit_applicant_profile_education_path(education), class: 'btn btn-warning btn-sm'
      = link_to 'Delete', applicant_profile_education_path(education), method: :delete, class: 'btn btn-danger btn-sm'
