!!!
%html
  %head
    %meta{ :content => 'text/htrml; charset=UTF-8', 'http-equiv' => 'Content-Type' }/
    %meta{ content: 'width=device-width, initial-scale=1', name: 'viewport' }/
    = favicon_link_tag
    %title Hireflow
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    = render 'layouts/navbar'
    - if (!business_signed_in? && !applicant_signed_in?) && current_page?(root_path)
      - if notice
        %p.alert.alert-info= notice
      - if alert
        %p.alert.alert-warning= alert
      = yield
    - else
      .container
        - if notice
          %p.alert.alert-info= notice
        - if alert
          %p.alert.alert-warning= alert
        = yield
